<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Index Page</title>
        <link rel="stylesheet" type="text/css" href="../indStyle.css">
        <link rel="icon" href="../sampleLogo.png">
    </head>
<body>

<header>
    <div>
        <h1>Welcome to PolitiChat!</h1>
        <img src="../sampleLogo.png" alt="sample logo">
    </div>
</header>
<div id="body">
    <h4>About:</h4>
    <p>Choose from topics below... etc...</p>
    <div>
        <ul>
            <% topics.forEach(i => { %>
            <li><a href="./topic/<%= i %>"><%= i %></a></li>
            <% }) %>
        </ul>
    </div>
</div>

</body>
</html>