<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Room Page</title>
  <link rel="icon" href="../sampleLogo.png">
  <style>
    /* Styles for the body */
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }

    /* Styles for the header section */
    header {
        border: 5px solid #0C4D91;
        background-color: #c7c7c7;
        padding: 30px;
        text-align: center;
    }

    header h1 {
        font-size: 36px;
        margin-bottom: 10px;
    }

    /* Styles for the main content section */
    div {
        margin: 20px;
    }

    #video-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, 300px);
        grid-auto-rows: 300px;
    }

    #tog-audio {
        background-color: #c7c7c7;
        padding: 5px 10px;
        border: none;
        color: #333;
        font-size: 16px;
        cursor: pointer;
    }

    #tog-video {
        background-color: #c7c7c7;
        padding: 5px 10px;
        border: none;
        color: #333;
        font-size: 16px;
        cursor: pointer;
    }

    #disconnect {
        background-color: #c7c7c7;
        padding: 5px 10px;
        border: none;
        color: #333;
        font-size: 16px;
        cursor: pointer;
    }

    #video-grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, 300px);
      grid-auto-rows: 300px;
    }
    
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    
    .vids {
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        padding: 5px;
    }

    .center {
        border: 5px solid #0C4D91;
        margin: auto;
        width: 16.5%;
        padding: 5px;
    }
  </style>
</head>
<body>
    <header>
        <div>
            <h1>Room <%= roomId %></h1>
        </div>
    </header>
    <div id="video-grid" class="vids"></div>
    <div id="video-controls" class="center">
        <button id="tog-audio" onclick="flipAudio()">Toggle Mic</button>
        <button id="tog-video" onclick="flipVideo()">Toggle Video</button>
        <button id="disconnect" onclick="goToInd()">Disconnect</button>
    </div>

    
    <script>
        const ROOM_ID = "<%= roomId %>";
    </script>
    <script src="https://unpkg.com/peerjs@1.4.7/dist/peerjs.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
    // Require socket, setup self instance and peer list
    const socket = io('/')
    const myPeer = new Peer(undefined, {
        host: '/',
        port: '3001'
    })
    const peers = {}
    // Store/create video grid and personal video
    const videoGrid = document.getElementById('video-grid')
    const myVideo = document.createElement('video')
    myVideo.muted = true;
      
    navigator.mediaDevices.getUserMedia({
        video: true,
        audio: true
    }).then(stream => {
        addVideoStream(myVideo, stream);
        // Handles a call event from another peer
        myPeer.on('call', call => {
            call.answer(stream);
            const video = document.createElement('video')
            call.on('stream', userVideoStream => {
                addVideoStream(video, userVideoStream)
            })
        })
        // Handles a new peer connecting to the page
        socket.on('user-connected', userId => {
            connectToNewUser(userId, stream);
            console.log(peers)
        })
    })
    // Handles a peer disconnecting to the page
    socket.on('user-disconnected', userId => {
        if (peers[userId]) peers[userId].close();
    })
    // Joins a room on page open
    myPeer.on('open', id => {
        socket.emit('join-room', ROOM_ID, id)
    })
  
    // Used to connect new user to current self
    function connectToNewUser(userId, stream) {
        const call = myPeer.call(userId, stream)
        const video = document.createElement('video')
        call.on('stream', userVideoStream => {
            addVideoStream(video, userVideoStream)
        });
        call.on('close', () => {
            video.remove()
        })
        peers[userId] = call
    }
  
    // Adds a video to the video grid
    function addVideoStream(video, stream) {
        video.srcObject = stream
        video.addEventListener('loadedmetadata', () => {
            video.play()
        })
        videoGrid.append(video)
    }
    function flipAudio() {
        myVideo.srcObject.getAudioTracks().forEach((track) => {
            track.enabled = !track.enabled
        })
    }
    function flipVideo() {
        myVideo.srcObject.getVideoTracks().forEach((track) => {
            track.enabled = !track.enabled
        })
    }

    function goToInd() {
        // Needs to emit a socket disconnected event
        window.location.href = '/index'
    }
    </script>
</body>
</html>