<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Politichat</title>
    <link rel="stylesheet" href = "/retFile/style">
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://unpkg.com/peerjs@1.4.7/dist/peerjs.min.js"></script>
    <script src="https://kit.fontawesome.com/c939d0e917.js"></script>
    <script> const ROOM_ID = "<%= roomId %>"; </script>
</head>
<body>
    <br>
    <div id = "video-grid">
    </div>
    <br>
    <div class="main">
        <div class="main_left">
            <div class="main_controls">
                <div class="main_controls_block">
                    <div onclick="muteUnmute()" class="main_control_button main_mute_button">
                        <i class="fas fa-microphone"></i>
                        <span>Mute</span>
                    </div>
                    <div onclick="playStop()" class="main_control_button main_video_button">
                        <i class="fas fa-video"></i>
                        <span>Stop Video</span>
                    </div>
                    <div class="main_control_button">
                        <i class="fas fa-user-friends"></i>
                        <span>Participants</span>
                    </div> 
                    <div class="main_control_button">
                        <i class="fas fa-shield-alt"></i>
                        <span>Security</span>
                    </div> 
                    <div onclick="exit()" class="main_control_button">
                        <span class="leave_meeting">Leave Meeting</span>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</body>
<script src="/retFile/script"> </script>
</html>