<!DOCTYPE html>
<html>
<body>
    <h1>Searching for Opponent</h1>
    <img src="../loading.gif" alt="loading">
    <p>Just a dynamic demonstration (to be removed): <%= uid %> searching with opinion <%= opin %> about <%= topic %></p>
</body>
</html>