<!DOCTYPE html>
<html>
<body>

<p>Selected Topic: <%= n %></p>
<button onclick="backToIndex()">Back</button>

<script>
    function backToIndex() {
        window.history.back();
    }
</script>
</body>
</html>